{
  "hca_client_id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "hca_client_secret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "slack_token": "xoxb-xxxxxxxxxx-xxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx"
}
